* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
}
body {
  background-color: #E7EAEE;
  color: #000;
  font-family: roboto;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
}
p{
  font-weight: 400;
  line-height: 35px; /* 129.63% */
}
.card{
  max-width: 370px; 
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  margin: 50px ;
  border-radius: 25px;
}
.author{
  display: flex;
  gap: 20px;
}
.author img{
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.author h1{
  line-height: 24px; /* 120% */
  font-size: 20px;
  font-weight: 400;
}
.author p{
  font-size: 16px;
  line-height: 19px; /* 120% */
  color: rgba(0, 0, 0, 0.50);
}